[Unit]
ConditionFileIsExecutable=/usr/sbin/bootstrap.sh
After=network-manager.service

[Service]
Type=simple
StandardOutput=syslog+console
ExecStart=/usr/sbin/bootstrap.sh

[Install]
WantedBy=multi-user.target