[Desktop Entry]
Type=Application
Terminal=false
Name=chip-flasher
Icon=/home/ntc/Desktop/CHIP-flasher/logo.png
Exec=/home/ntc/Desktop/CHIP-flasher/gui.sh
