# FEL Mode
SUBSYSTEMS=="usb",  KERNELS=="1-5",   ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="efe8",   SYMLINK+="chip-2-1-fel"
SUBSYSTEMS=="usb",  KERNELS=="1-1",   ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="efe8",   SYMLINK+="chip-1-1-fel"
# Fastboot Mode
SUBSYSTEMS=="usb",  KERNELS=="1-5",   ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="1010",   SYMLINK+="chip-2-1-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1",   ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="1010",   SYMLINK+="chip-1-1-fastboot"
# Serial Gadget Mode
SUBSYSTEM=="tty",  KERNELS=="1-5",   ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a7",   SYMLINK+="chip-2-1-serial"
SUBSYSTEM=="tty",  KERNELS=="1-1",   ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a7",   SYMLINK+="chip-1-1-serial"

