<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pringletron</title>
<meta charset="UTF-8">
    
<script src="static/js/socket.io.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    
<!-- <script type="text/javascript" src="js/socket.io.min.js"></script> -->
<script type="text/javascript" charset="utf-8">

    function stateChange(info) {
        if (info.stateClass)
            document.getElementById(info.uid).setAttribute('class',info.stateClass);
            
        if (info.stateLabel)
            document.getElementById(info.uid + "_stateLabel").innerHTML=info.stateLabel;
        if (info.label)
            document.getElementById(info.uid + "_label").innerHTML=info.label;
        if (info.progress)
            document.getElementById(info.uid + "_progress").setAttribute('value',info.progress);
    }


    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
         socket.on('stateChange', function(info){
            stateChange(info);
          });
    });
    
</script>
<table border="1">
{% for info in stateInfoArray %}
    <tr  id="{{info['uid']}}" class="{{stateToClass.get(info['state'])}}">
     <td width="10%" id="{{info['uid']}}_button" class="mainButton">{{ info['uid']}}</td>
      <td width="20%" id="{{info['uid']}}_stateLabel">{{ info['stateLabel']}}&nbsp;</td>
      <td width="70%"><div><div id="{{info['uid']}}_label">{{ info['label']}}&nbsp;</div><progress id="{{info['uid']}}_progress" value="{{info['progress']}}"></progress></div></td>
    </tr>
{% endfor %}
</table>

<script>

</script>
</body>
</html>


