body {
    color: white;
    background:black;
}

progress {
    height:5px;
}
.success {
    color: green;
}

.fail {
    color: red;
}

.active {
    color: white;
}

.passive {
    color: yellow;
}

.prompt {
    color: orange;
}

.disconnected {
    color: gray;
}

.paused {
    color: Gold;
}


