# FEL Mode
SUBSYSTEMS=="usb",  KERNELS=="1-1.3", ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="efe8",   SYMLINK+="chip-1-1-fel"
SUBSYSTEMS=="usb",  KERNELS=="1-1.4", ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="efe8",   SYMLINK+="chip-2-1-fel"
SUBSYSTEMS=="usb",  KERNELS=="1-1.1", ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="efe8",   SYMLINK+="chip-3-1-fel"
SUBSYSTEMS=="usb",  KERNELS=="1-1.2.3", ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="efe8",   SYMLINK+="chip-4-1-fel"
SUBSYSTEMS=="usb",  KERNELS=="1-1.2.4",   ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="efe8",   SYMLINK+="chip-5-1-fel"
SUBSYSTEMS=="usb",  KERNELS=="1-1.2.1",   ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="efe8",   SYMLINK+="chip-6-1-fel"
SUBSYSTEMS=="usb",  KERNELS=="1-1.2.2",   ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="efe8",   SYMLINK+="chip-7-1-fel"

# Fastboot Mode
SUBSYSTEMS=="usb",  KERNELS=="1-1.3",   ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="1010",   SYMLINK+="chip-1-1-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.4",   ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="1010",   SYMLINK+="chip-2-1-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.1",   ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="1010",   SYMLINK+="chip-3-1-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.2.3", ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="1010",   SYMLINK+="chip-4-1-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.2.4", ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="1010",   SYMLINK+="chip-5-1-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.2.1", ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="1010",   SYMLINK+="chip-6-1-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.2.2", ATTRS{idVendor}=="1f3a", ATTRS{idProduct}=="1010",   SYMLINK+="chip-7-1-fastboot"

# Serial Gadget Mode
SUBSYSTEMS=="tty",  KERNELS=="1-1.3",   ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a7",   SYMLINK+="chip-1-1-serial"
SUBSYSTEMS=="tty",  KERNELS=="1-1.4",   ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a7",   SYMLINK+="chip-2-1-serial"
SUBSYSTEMS=="tty",  KERNELS=="1-1.1",   ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a7",   SYMLINK+="chip-3-1-serial"
SUBSYSTEMS=="tty",  KERNELS=="1-1.2.3", ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a7",   SYMLINK+="chip-4-1-serial"
SUBSYSTEMS=="tty",  KERNELS=="1-1.2.4", ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a7",   SYMLINK+="chip-5-1-serial"
SUBSYSTEMS=="tty",  KERNELS=="1-1.2.1", ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a7",   SYMLINK+="chip-6-1-serial"
SUBSYSTEMS=="tty",  KERNELS=="1-1.2.2", ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a7",   SYMLINK+="chip-7-1-serial"
