# FEL Mode
SUBSYSTEMS=="usb",  KERNELS=="1-1.1", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="efe8", SYMLINK+="chip-1-usb"
SUBSYSTEMS=="usb",  KERNELS=="1-1.2", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="efe8", SYMLINK+="chip-2-usb"
SUBSYSTEMS=="usb",  KERNELS=="1-1.3", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="efe8", SYMLINK+="chip-3-usb"
SUBSYSTEMS=="usb",  KERNELS=="1-1.4", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="efe8", SYMLINK+="chip-4-usb"
SUBSYSTEMS=="usb",  KERNELS=="1-1.5", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="efe8", SYMLINK+="chip-5-usb"
SUBSYSTEMS=="usb",  KERNELS=="1-1.6", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="efe8", SYMLINK+="chip-6-usb"
SUBSYSTEMS=="usb",  KERNELS=="1-1.7", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="efe8", SYMLINK+="chip-7-usb"

# Fastboot Mode
SUBSYSTEMS=="usb",  KERNELS=="1-1.1", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="1010", SYMLINK+="chip-1-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.2", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="1010", SYMLINK+="chip-2-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.3", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="1010", SYMLINK+="chip-3-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.4", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="1010", SYMLINK+="chip-4-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.5", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="1010", SYMLINK+="chip-5-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.6", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="1010", SYMLINK+="chip-6-fastboot"
SUBSYSTEMS=="usb",  KERNELS=="1-1.7", ATTR{idVendor}=="1f3a", ATTRS{idProduct}=="1010", SYMLINK+="chip-7-fastboot"

# Serial Gadget Mode
SUBSYSTEMS=="usb",  KERNELS=="1-1.1", ATTR{idVendor}=="0525", ATTRS{idProduct}=="a4a7", SYMLINK+="chip-1-serial"
SUBSYSTEMS=="usb",  KERNELS=="1-1.2", ATTR{idVendor}=="0525", ATTRS{idProduct}=="a4a7", SYMLINK+="chip-2-serial"
SUBSYSTEMS=="usb",  KERNELS=="1-1.3", ATTR{idVendor}=="0525", ATTRS{idProduct}=="a4a7", SYMLINK+="chip-3-serial"
SUBSYSTEMS=="usb",  KERNELS=="1-1.4", ATTR{idVendor}=="0525", ATTRS{idProduct}=="a4a7", SYMLINK+="chip-4-serial"
SUBSYSTEMS=="usb",  KERNELS=="1-1.5", ATTR{idVendor}=="0525", ATTRS{idProduct}=="a4a7", SYMLINK+="chip-5-serial"
SUBSYSTEMS=="usb",  KERNELS=="1-1.6", ATTR{idVendor}=="0525", ATTRS{idProduct}=="a4a7", SYMLINK+="chip-6-serial"
SUBSYSTEMS=="usb",  KERNELS=="1-1.7", ATTR{idVendor}=="0525", ATTRS{idProduct}=="a4a7", SYMLINK+="chip-7-serial"
